*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
    /* border: 1px solid black; */
    /* background-color: red; */
}
.imagediv{
    position: absolute;
    height: 200px;
    width:150px;
    /* background-color:yellow; */
    overflow: hidden    ;
}
.imagediv img{
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}